@model DamvayShop.Web.Infrastructure.Core.PaginationClient<DamvayShop.Web.Models.PostViewModel>
@{
    var Category = (DamvayShop.Web.Models.PostCategoryViewModel)ViewBag.Category;
    var pageIndex = Model.PageIndex;
    ViewBag.Title = pageIndex == 1 ? Category.Name : Category.Name+"-trang="+pageIndex;
    ViewBag.MetaKeyword = pageIndex==1? Category.MetaKeyword: Category.MetaKeyword+"-trang="+pageIndex;
    ViewBag.MetaDiscription = pageIndex == 1 ? Category.MetaDiscription : Category.MetaDiscription+ "-trang=" + pageIndex;
    Layout = "~/Views/Shared/Layouts.cshtml";

}



<div id="all">

    <div id="content">
        <div class="container">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-9 col-md-9" id="blog-listing">

                <ul class="breadcrumb">

                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>@Category.Name</li>
                </ul>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model.Items)
                    {
                        
                        var url = "/blog-detail.html"+"?postid="+item.ID;
                <div class="post">
                    <div class="col-md-12 col-sm-12"> <h4>@item.Name</h4></div>
                    <hr>
                    <p class="date-comments">
                        <a href="@url"><i class="fa fa-calendar-o"></i> @item.UpdatedDate</a>
                    </p>
                    <div class="image">
                        <a href="@url">
                            <img src="@item.Image" class="img-responsive" alt="@item.Name">
                        </a>
                    </div>
                    <p class="intro">
                        @item.Description
                    </p>
                    <p class="read-more">
                        <a href="@url" class="btn btn-primary">Xem thêm</a>
                    </p>
                </div>
                    }


                    <ul class="pager">
                        @if (Model.PageIndex > 1)
                        {
                            <li class="previous">
                                <a href="?page=@(Model.PageIndex-1)">&larr; Lùi</a>
                            </li>
                        }

                        @if (Model.PageIndex < Model.TotalPage)
                        {
                            <li class="next">
                                <a href="?page=@(Model.PageIndex+1)">Tiếp &rarr;</a>
                            </li>
                        }

                    </ul>


                }
                else
                {
                    <div style="text-align:center"><h3>Hiện tại chưa có bài viết nào</h3></div>
                }



            </div>
            <!-- /.col-md-9 -->

        </div>
        <!-- /.container -->
    </div>
   </div>

